body{
    background-color: aquamarine;
background-image: url(../images/food-4k.jpg);
background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color:aquamarine;
    margin:0;
    padding:0;
}
h1{
 text-align: center;
}
h2{
    text-align: left;
}
.burger{ 
    text-align: left;
    font-weight: 900;
    color: red;

}
 .pizza{
    display:flex;
    

 }
 .word{
    background-color: orangered;
    text-align: center;
    text-decoration: wavy;
 }
    .our{
    align-items: center;
    background-color: antiquewhite;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    }

    