body{
    
    background-image: url('../images/food_for_menu-removebg-preview.png');
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: hsl(121, 84%, 74%);
    margin:0;
    padding:0;
}